:root {
    box-sizing: border-box;
}
  
* {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    /* display: flex;
    justify-content: space-around; */
    height: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    font: 1.3rem Inconsolata, monospace;
}

#content-container {
    position: relative;
    width: 100%;
}

#header-container {
    display: flex;
    justify-content:space-around;
    margin-top: 1.5rem;
}

#portrait-container {
    width: 15vw; 
    margin-top: 3rem;
}

#portrait-container > * {
    width: inherit;
}

#portrait {
    object-fit: contain;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
}

.window {
    display: flex;
    align-items: center;
    height: 1.5rem;
    font-size: x-small;
    background-color: white;
    color: black;
    padding-bottom: 0.1rem;
}

.window > * {
    max-height: 100%;
    width: auto;
}

.icon {
    height: 90%;
    margin-left: .3rem;
    margin-right: .1rem;
}

.window-controls {
    margin-left: auto;
}

@media screen and (max-width: 1100px) {
    #portrait-container > .window > .window-controls {
        display: none !important;
    }
}

#header-text {
    margin-top: 9rem;
    margin-left: -6rem;
    width: 50vw;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    background-color: rgb(12, 12, 12);
    border-color: white;
}

#header-text > .window {
    border-left: 1rem;
    border-right: 1rem;
}

#header-inner-container {
    padding: 0.5rem;
}

#sidebar-container {
    position: absolute;
    width: 70%;
    margin-top: -1rem;
    z-index: -1;
}

#sidebar {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: baseline;
    border-style: solid;
    border-top: 0;
    background-color: rgb(12, 12, 12);
    font-size: 14px;
    overflow: hidden; /* Hide child text which would extend beyond this container */ 
}

.assembly-container {
    display: flex;
}

.assembly {
    white-space: nowrap; /* Do not wrap text content which cannot extend beyond parent container*/
    height: 23px;
}

#projects-list {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 100%; */
}

.project-container {
    display: flex;
    flex-direction: column;
    /* display: contents; */
    overflow-wrap: break-word;
    width: 200px
}

.project-container:hover {
    background-color: rgba(135, 206, 250, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: aliceblue;
}

.project-container > h3 {
    margin-top: 0;
    text-align: center;
}

.project {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.project-description {
    display: none;
}

@media not (orientation:landscape) {
    #notepad {
        max-width: 90% !important; 
    }
}

#notepad {
    display: none;
    background-color: white;
    color: black;
    position:fixed;
    min-height: 40vh;  /* Cannot use percentage as parent has no such defined property */
    max-height: 80vh;
    top:4rem;
    left: 0; 
    right: 0; 
    z-index: 3;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 50%;
    overflow: hidden;
}

#notepad > .window > .window-controls:hover {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#description-box {
    padding: 0.5rem;
    max-height: 75vh;  /* Max-height property inhereted only if parent max-height property is defined */
    overflow: auto;
}

a {
    color: rgb(4, 88, 245);
}